.left-side-bar {
  background-image: linear-gradient(201deg, #23a3ff, #0496ff 78%, #0396ff);
  width: 72px;
  height: 100%;
  .item-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    &:hover {
      .menu {
        color: #393939;
      }
    }
    img {
      height: 36px;
      width: 36px;
      margin: 40px auto 10px;
    }
    .menu {
      text-align: center;
      margin-bottom: 40px;
      font-size: 12px;
      color: #ffffff;
    }
    hr {
      height: 1px;
      background-color: #fff;
      width: 24px;
      margin: 0;
      border: none;
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
      bottom: 0;
    }
  }
}