.admin-container {
  height: 100%;
  width: 100%;
  padding: 10px 16px;
  .title-admin-page {
    color: #393939;
    font-size: 28px;
    font-weight: bold;
  }
  .search-box {
    border-radius: 8px;
    width: 480px;
    height: 32px;
  }
}