.search-box {
	height: 32px;
	line-height: 32px;
	position: relative;
	input {
		width: 100%;
		border: 1px solid #393939;
		border-radius: 8px;
	}
	img {
		height: 22px;
    position: absolute;
    right: 24px;
    top: 25%;
    cursor: pointer;
	}
}