.modal-dialog {
	min-width: 672px;
	.modal-content {
		.modal-header {
			border: none;
			.modal-title {
				font-size: 28px;
				text-align: center;
				color: #393939;
				width: 100%;
			}
		}
		.modal-body {
			border: none;
			.modal-row {
				display: flex;
				height: 40px;
				margin-bottom: 16px;
				.add-modal-title {
					min-width: 100px;
					font-size: 16px;
					color: #393939;
					font-weight: bold;
					line-height: 40px;
				}
				.form-control {
					border-radius: 8px;
				}
				.add-images-btn {
					cursor: pointer;
					height: 40px;
				}
			}
			.modal-row-double {
				display: flex;
				justify-content: space-between;
				.modal-row {
					width: 48%;
				}
			}
		}
		.modal-footer {
			border: none;
			.btn {
				border-radius: 8px;
				font-size: 16px;
				min-width: 112px;
			}
			.btn-close {
				background-color: #ffffff;
				color: #393939;
				border: 1px solid #393939;
			}
			.btn-finish {
				background-color: #0e9aff;
				color: #ffffff;
			}
		}
	}
}