
$blueAsio : #03a9f4;
$backgroundColor : #f2f2f2;
$white2: #fafafa;
$white3: #f0f0f0;
$btnColor : #26c6da;
$titleColor : #a0a0a0;
$subTitleColor: #252525;
$textColor : #363636;
$actionColor: #545454;
$iconColor: #898989;
$borderColor: #d4d4d4;