@import "../../../constants/colors.scss";
.checkbox {
  height: 40px;
  &.disable {
    pointer-events: none;
  }
  .styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
    width: 0;
    height: 0;
  
    & + label {
      position: relative;
      cursor: pointer;
      margin: 0;
      padding-left: 30px;
      line-height: 40px;
      height: 40px;
    }
  
    // Box.
    & + label:before {
      content: '';
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background-color: #fafafa;
      border: solid 1px #d4d4d4;
      top: 25%;
      position: absolute;
      left: 0;
    }
  
    // Box hover
    &:hover + label:before {
      background: $blueAsio;
    }
    
    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
  
    // Box checked
    &:checked + label:before {
      background: $blueAsio;
    }
    
    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
  
    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 20px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }
}