html, body, #root {
  height: 100%;
  width: 100%;
}
.body-container {
  height: 100%;
  width: 100%;
  .wrapper {
    padding-top: 66px;
    height: 100%;
    display: flex;
  }
  #content {
    flex-grow: 1;
  }
}
