html, body, #root {
  height: 100%;
  width: 100%;
}
.modal-backdrop {
  background-color: transparent;
}
.modal {
  background-color: rgba(0,0,0,0.3);
}
.fade:not(.show) {
  opacity: unset;
}
.body-container {
  height: 100%;
  width: 100%;
  .wrapper {
    padding-top: 66px;
    height: 100%;
    display: flex;
  }
  #content {
    flex-grow: 1;
  }
  .help-block {
    position: absolute;
    bottom: 0px;
    font-size: 13px;
    color: red;
    left: 110px;
  }
  &.hidden-left-menu {
    #content {
      margin: 66px 0 0 0 !important;
      transition-duration: 0.5s;
    }
  }
  &.hidden-header {
    .wrapper {
      padding: 0;
      #content {
        margin: 0 !important;
        transition-duration: 0.5s;
      }
    }
  }
}
