html, body, #root {
  height: 100%;
  width: 100%;
}
.body-container {
  height: 100%;
  width: 100%;
  .wrapper {
    padding-top: 66px;
    height: 100%;
    display: flex;
  }
  #content {
    flex-grow: 1;
  }
  &.hidden-left-menu {
    #content {
      margin: 66px 0 0 0 !important;
      transition-duration: 0.5s;
    }
  }
  &.hidden-header {
    .wrapper {
      padding: 0;
      #content {
        margin: 0 !important;
        transition-duration: 0.5s;
      }
    }
  }
}
